name: CI
on:
  push:
    branches:
      - main
    tags:
      - "v*"
  pull_request:
jobs:
  build-macos-launcher:
    name: build-macos-launcher ${{ matrix.OS }}
    strategy:
      fail-fast: false
      matrix:
        OS: ["macos-14", "macos-13"]
        include:
          - OS: "macos-14"
            JVM: "https://github.com/graalvm/graalvm-ce-builds/releases/download/jdk-21.0.2/graalvm-community-jdk-21.0.2_macos-aarch64_bin.tar.gz"
            arch: "aarch64"
          - OS: "macos-13"
            JVM: "https://github.com/graalvm/graalvm-ce-builds/releases/download/jdk-21.0.2/graalvm-community-jdk-21.0.2_macos-x64_bin.tar.gz"
            arch: "x86_64"
    runs-on: ${{ matrix.OS }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          submodules: true
      - uses: coursier/setup-action@v1.3
        with:
          apps: ""
          jvm: ${{ matrix.JVM }}
      - run: |
          ./mill -i "cs-m1.writeNativeImageScript" generate.sh "" && \
          ./generate.sh && \
          ./mill -i "cs-m1.copyToArtifacts" artifacts/
        env:
          GRAALVM_ID: ${{ matrix.JVM }}
      - name: Build OS packages
        if: matrix.arch == 'aarch64'
        run: .github/scripts/generate-os-packages.sh
        shell: bash
      - uses: actions/upload-artifact@v4
        with:
          name: macos-launcher-${{ matrix.arch }}
          path: artifacts/
          if-no-files-found: error
          retention-days: 1
      - name: Test
        run: ./mill -i cs-m1-tests.test

  build-linux-launcher:
    runs-on: "macOS-m1"
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          submodules: true
      - uses: coursier/setup-action@v1.3
        with:
          apps: ""

      - run: .github/scripts/build-linux-aarch64.sh

      - uses: actions/upload-artifact@v4
        with:
          name: linux-launcher
          path: artifacts/
          if-no-files-found: error
          retention-days: 1

      - run: .github/scripts/test-linux-aarch64.sh

  upload-artifacts:
    if: github.event_name == 'push'
    runs-on: "ubuntu-latest"
    needs: ["build-macos-launcher", "build-linux-launcher"]
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          submodules: true
      - name: Get aarch64 macOS launcher
        uses: actions/download-artifact@v4
        with:
          name: macos-launcher-aarch64
          path: artifacts/
      - name: Get x86_64 macOS launcher
        uses: actions/download-artifact@v4
        with:
          name: macos-launcher-x86_64
          path: artifacts/
      - name: Get Linux launcher
        uses: actions/download-artifact@v4
        with:
          name: linux-launcher
          path: artifacts/
      - run: ./mill -i ci.upload artifacts/
        env:
          UPLOAD_GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
